{% extends 'base.html' %}

{% block content %}

    <form action="/add" method="post">
        <textarea name="title" rows="5" placeholder="Введите задачу"></textarea>
        <button type="submit">Добавить</button>
    </form>

    <br>
    <h2>Задачи</h2>

    <div>
        {% for todo in todos %}
            <div class="task">
                {% if todo.completed %}
                    <strike>{{ todo.title }}</strike>
                {% else %}
                    {{ todo.title }}
                {% endif %}
                <small>
                    <a href="edit/{{ todo.id }}">Редактировать</a>
                    <a href="delete/{{ todo.id }}">Удалить</a>
                    {% if todo.completed %}
                        <form action="/uncomplete/{{ todo.id }}" method="post">
                        <button type="submit">Не выполнено</button>
                        </form>
                    {% else %}
                        <form action="/complete/{{ todo.id }}" method="post">
                        <button type="submit">Выполнено</button>
                        </form>
                    {% endif %}
                </small>
            </div>
        {% endfor %}
    </div>
    <div>
        <p>Страницы: </p>
        {% for i in range(pages) %}
            <a href="/?page={{ i }}">{{ i+1 }}</a>
        {% endfor %}
    </div>

{% endblock content %}
